.cover {
    background: linear-gradient(234deg, rgba(238,174,184,1) 0%, #d5e3ff 100%);
    height: 100vh;
}

.director-name {
    font-size: x-large;
    margin-bottom: 2vh;
}

.director-career {
    font-size: large;
    font-style: italic;
    color: rgb(49, 29, 29);
    margin-top: 1vh;
}

.director-films {
    color: black;
    font-style: normal;
    margin-left: 1vw;
    text-transform: uppercase;
}

#topFilms {
    font-size: larger;
}